.markdown-section > .meta-data {
  font-size: .8rem;
  color: #AAAAAF;
  text-align: right;
  border-top: 1px dashed #AAAAAF;
  padding: 1rem;
}
.markdown-section > .meta-data > span {
  display: inline-block;
  padding: 0 1rem;
}

mark {
  background: rgba(255, 255, 0, .5);
  /* text-decoration: underline wavy rgb(255, 124, 187) 3px; */
}
kbd {
  display: inline-block;
  background-color: #333338;
  color: #E3E3EC;
  border: 1px solid #E3E3EC;
  border-radius: 3px;
  padding: 0 .5rem;
  font-weight: bold;
  box-shadow: 0 4px 0 0 #E3E3EC;
}
kbd {
  padding: 0 .5rem;
  font-size: inherit !important;
  line-height: inherit !important;
}